<!--- generate 5 buttons s-->

<!-- Path: angular/src/app/dashboard/dashboard.component.html -->
<!-- Compare this snippet from angular/src/app/voting/voting.component.html: -->
<div class="px-4 py-12 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-1">
 <div class="max-w-xl mb-10 md:mx-auto sm:text-center lg:max-w-2xl md:mb-12">
 <div>
<p class="inline-block px-3 py-px mb-4 text-xs font-semibold tracking-wider text-teal-900 uppercase rounded-full bg-teal-accent-400">
  Developed by Ekim Başoğlu 2023
</p>
</div>
    <h2 class="max-w-lg mb-6 font-sans text-3xl font-bold leading-none tracking-tight text-gray-900 sm:text-4xl md:mx-auto">
    Toplam hangi partinin oyları var butona tıklayın
    </h2>
  </div><section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto">
      <div class="flex flex-wrap -m-4">
        <!-- party -->
          <div class="p-4 lg:w-1/3">
            <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
              <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">AKP</h1>
              <button (click)="getTotalVotes(0)" class="text-indigo-500 inline-flex items-center">Learn More
              </button>
            </div>
          </div>
          <!-- end party -->
      <!-- party -->
        <div class="p-4 lg:w-1/3">
          <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">CHP</h1>
            <a (click)="getTotalVotes(1)" class="text-indigo-500 inline-flex items-center">Learn More
            </a>
          </div>
        </div>
        <!-- end party -->
      <!-- party -->
        <div class="p-4 lg:w-1/3">
          <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">İYİ</h1>
            <a (click)="getTotalVotes(2)" class="text-indigo-500 inline-flex items-center">Learn More
            </a>
          </div>
        </div>
        <!-- end party -->
      <!-- party -->
        <div class="p-4 lg:w-1/3">
          <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">MHP</h1>
            <a (click)="getTotalVotes(3)" class="text-indigo-500 inline-flex items-center">Learn More
            </a>
          </div>
        </div>
        <!-- end party -->
      <!-- party -->
        <div class="p-4 lg:w-1/3">
          <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
            <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">HDP</h1>
            <a (click)="getTotalVotes(4)" class="text-indigo-500 inline-flex items-center">Learn More
            </a>
          </div>
        </div>
        <!-- end party -->
      </div>
    </div>
  </section>
